header {
    margin-top: -10vw;
    position: relative;
}
header video {
    z-index: -1;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
}

header .caption{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 25vw;
    padding-left: 0vw;
    background: rgba(255, 255, 255, 0.5098039215686274);
}

header .caption h1{
    font-size: 6.5vw;
    line-height: 1;
    font-weight: 900;
}

.mini-btn{
    padding: 20px 35px;
    font-size: 1.5rem;
    background: #ffc108;
    color: #50606a;
    border-radius: 10px;
    transition: all 0.5s;
}
.mini-btn:hover{
    background: #50606a;
    color: #ffc108;
    text-decoration: none;
}