nav {
    background: #fff;
    z-index: 1;
    background: #ffc108;
    box-shadow: 1px 1px 15px 10px rgba(0, 0, 0, 0.4588235294117647);
}
#logo img{
    top: 55px;
    margin: 0 auto;
    display: block;
    width: 75%;
}
li #logo img{
    margin: 0 auto;
    display: block;
    width: 150px;
}
nav ul{
    padding-top: 10px;
}
nav a{
    color: #50606a;
    position: relative;
    font-weight: 900;
    font-family: minions-font;
}
nav.fixed-top{
    top: 30px;
}
nav a:hover {
    text-decoration: none;
}

nav a::after {
    content: '';
    display: block;
    width: 80px;
    height: 50px;
    background-image: url('../img/banana.png');
    background-size: cover;
    position: absolute;
    bottom: -70px;
    left: -25px;
    transform: rotate(0deg);
    transition: all 0.5s;
    opacity: 0;
}

nav a:hover::after {
    width: 100px;
    height: 60px;
    bottom: -15px;
    left: -40px;
    opacity: 1;
    transform: rotate(20deg);
}
#logo.mobile img{
    top: 0;
    width: 4rem;
}

.logo-li{
    width: 12vw;
    max-width: 10vw;
}